@import url('https://fonts.googleapis.com/css?family=PT+Sans|Work+Sans:700');

* {
	box-sizing: border-box;
}

@import './assets/scss/table';
/* ASIDE */
@import './assets/scss/sidebar';
/* card's detail */
@import './assets/scss/card_detail';
/* NAVBAR */
@import './assets/scss/navbar';
/* INFO BOX */
@import './assets/scss/infobox';
/* MODAL */
@import './assets/scss/modal';

$primary-color: #381163;
$secondary-color: #bd335f;

body{
	font-family: 'PT Sans', sans-serif;
	overflow: hidden;
}

h1,h2,h3,h4,h5{
	font-family: 'Work Sans', sans-serif;
}

.App{
	height: 100vh;
	overflow: auto;
}

/* DROPDOWN */

.dropdown ul li a{
	display: block;
}

.dropdown ul li a:hover:not(.active){
	color: #bd335f;
	background: #e6e6e6;
}

.dropdown-content{
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #cecece;
	min-width: 150px;
}

.dropdown-rtl{
	right: 0;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}

/* LOGO */

.logo{
	font-family: 'PT Sans', sans-serif;
	padding: 0.5em 0;
	font-size: 24px;
	color: #ffffff;
}

.menu-toggler{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1;
	font-size: 32px;
	color: #9e65dc;
}

.menu-toggler:hover, .menu-toggler:active{
	color: #bd335f;
}

/* CONTROL */
.control {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

/* CARD */

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 2em 4em;
}

.card {
	background: #ffffff;
	margin: 10px;
	border: 1px solid #c1c1c196;
	box-shadow: 0 2px 10px rgba(0,0,0,0.05);
	border-radius: 3px;

	:hover {
		cursor: pointer;
	}
}

.card img {
	object-fit: cover;
	width: 100%;
	height: 300px;
	padding: 0.5em;
}

.card > .detail {
	padding: 1em;
}

.card > .detail > .title {
	padding: 0.5em 0;
}

.card .detail > .meta .price {
	float: right;
}

.card .detail > .description {
	margin: 1em 0;
}

/* List View */
.list-view {
	margin: 10px;
}

/* CONTAINER */

.container  {
	display: grid;
	padding: 10px;

	.two {
		grid-template-columns: auto auto;
	}
	.three {
		grid-template-columns: auto auto auto;
	}
	.four {
		grid-template-columns: auto auto auto auto;
	}
	.five {
		grid-template-columns: auto auto auto auto auto;
	}
	.six {
		grid-template-columns: auto auto auto auto auto auto;
	}
}

.main-content {
	padding: 5em;
	min-height: 100vh;
	background: #f5f6f7;
}

@media only screen and (max-width: 600px){
	.main-content {
		padding: 5em 1em;
	}
}

/* BUTTON */
%btn-shared {
	cursor: pointer;
	background: rgba(27, 27, 27, 0.07);
	padding: 1em;
	text-decoration: none;
	border: none;
	color: #777676;
}

.btn {
	@extend %btn-shared;
	
	&-active {
		background: rgba(27, 27, 27, 0.15);
	}

	&__purple {
		background: #bd335f;
		color: #ffffff;
	}

	&__violet {
		background: rgba(142, 80, 210, 0.85);
		color: #ffffff;

		&-active {
			background: rgba(142, 80, 210, 1);
		}
	}
}

.btn__small {
	@extend %btn-shared;
	padding: 0.8em;
}

.group {
	display: flex;

	.btn {
		margin: 0 5px;
	}
}


/* MESSAGE */
.message {
	position: fixed;
    border: 1px solid #dce4ea;
    padding: 18px 25px;
    background: #fbfbfb;
    left: 50%;
    transform: translate(-50%, 0);

    span {
    	position: absolute;
	    top: 0;
	    right: 0;
	    padding: 0 5px;
	    cursor: pointer;
    }
}