@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Serif+Pro:400,700');
@import './assets/scss/table';
/* ASIDE */
@import './assets/scss/sidebar';

$primary-color: #381163;
$secondary-color: #bd335f;

body{
	font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5{
	font-family: 'Source Serif Pro', serif;
}

.App{
	height: 100vh;
}

/* NAVBAR */
@import './assets/scss/navbar';

/* DROPDOWN */

.dropdown ul li a{
	display: block;
}

.dropdown ul li a:hover:not(.active){
	color: #bd335f;
	background: #e6e6e6;
}

.dropdown-content{
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #cecece;
	min-width: 150px;
}

.dropdown-rtl{
	right: 0;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}

/* LOGO */

.logo{
	padding: 0.2em 0;
	font-size: 32px;
	font-weight: bold;
	color: #bd335f;
}

.menu-toggler{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1;
	font-size: 32px;
	color: #9e65dc;
}

.menu-toggler:hover, .menu-toggler:active{
	color: #bd335f;
}

/* CONTROL */
.control {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}


/* CARD */

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1em;
}

.card {
	background: #ffffff;
	margin: 10px;
	border: 1px solid #c1c1c196;
}

.card img {
	object-fit: cover;
	width: 100%;
	height: 300px;
}

.card > .detail {
	padding: 1em;
}

.card .detail > .meta .price {
	float: right;
}

.card .detail > .description {
	margin: 1em 0;
}

/* List View */
.list-view {
	margin: 10px;
}

/* CONTAINER */

.container  {
	display: grid;
	padding: 10px;

	.two {
		grid-template-columns: auto auto;
	}
	.three {
		grid-template-columns: auto auto auto;
	}
	.four {
		grid-template-columns: auto auto auto auto;
	}
	.five {
		grid-template-columns: auto auto auto auto auto;
	}
	.six {
		grid-template-columns: auto auto auto auto auto auto;
	}
}

.main-content {
	padding-top: 70px;
	background: #eeeeee;
	min-height: 100vh;
}

/* MODAL*/

.overlay {
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background: white;
	padding: 20px;
	min-width: 300px;

	&__header,
	&__body,
	&__footer {
		padding: 15px;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
	}
}

/* Overlay Transition */

.overlaying-enter{
	background: rgba(0,0,0,0);
	z-index: 0;
}

.overlaying-enter-active{
	background: rgba(0,0,0,0.6);
	z-index: 2;
	transition: background 300ms ease-in, z-index 300ms ease-in;
}

.overlaying-exit{
	background: rgba(0,0,0,0.6);
	z-index: 2;
}

.overlaying-exit-active{
	background: rgba(0,0,0,0);
	z-index:  -1000;
	transition: background 300ms ease-out, z-index 100ms ease-out;
}

/* End of Overlay Transition */

.form__field {
	margin: 10px 0;
}

.form__label {
	margin: 5px 0;
}

.form__input {
	width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 850px) {

}

/* BUTTON */
.btn{
	cursor: pointer;
	background: rgba(27, 27, 27, 0.07);
	padding: 1em;
	text-decoration: none;
	border: none;
	color: #777676;

	&-active {
		background: rgba(27, 27, 27, 0.15);
	}

	&__purple {
		background: #bd335f;
		color: #ffffff;
	}

	&__violet {
		background: rgba(142, 80, 210, 0.85);
		color: #ffffff;

		&-active {
			background: rgba(142, 80, 210, 1);
		}
	}


}

.group {
	display: flex;

	.btn {
		margin: 0 5px;
	}
}


/* MESSAGE */
.message {
	position: fixed;
    border: 1px solid #dce4ea;
    padding: 18px 25px;
    background: #fbfbfb;
    left: 55%;
    transform: translate(-55%, 0);

    span {
    	position: absolute;
	    top: 0;
	    right: 0;
	    padding: 0 5px;
	    cursor: pointer;
    }
}