
.navbar{
	position: fixed;
	list-style-type: none;
	overflow: hidden;
	background: #641098;
	width: 100%;
	box-shadow: 0px 0px 1px 1px #8a8a8a1a;

	ul {
		display: flex;
	    align-items: center;
	    justify-content: space-between;

		li {
			display: flex;
			align-items: center;
		}
	}
}

.navbar > ul > li a{
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	text-decoration: none;
}

.navbar > ul > li a:hover:not(.active){
	color: #bd335f;
}

.active{
	color: #bd335f !important;
}

.site-id {
	padding: 0 2em;

	.tagline {
		color: #ffffff;
		padding: 0 1em;
	}
}
