table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #d4d4d4;
}

thead {
	background: #eaeaea;
}

th {
	font-weight: bold;
}

tr.item-description td {
	text-align: left;
}

tr.item-row > td:first-child {
	cursor: pointer;
}

td, th {
	border-bottom: 2px solid #d4d4d4;
    text-align: center;
    padding: 1em;
}

.item-description {
	background: #e0e0e0;
}